html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}
input[type=radio] {
	display: none;
}
svg{
  margin-left: 20px;
  width: 120px;
  height: 120px;
  fill: white;
  stroke: rgb(255, 0, 0);
}
input:hover ~ label svg{
  fill: yellow;
}
form{
  display: flex;
  justify-content: flex-end;
  direction: rtl;
}
input:checked ~ label svg{
  fill: rgb(255, 0, 0);
}